@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff3e4;
    --background-fg: #342828;
    --accent: #d3baa6;
    --accent-fg: #342828;
    --primary: #342828;
    --primary-fg: #fff3e4;
    --secondary: #5c4545;
    --secondary-fg: #fff3e4;
  }

  .dark {
    --background: #342828;
    --background-fg: #fff3e4;
    --accent: #5c4545;
    --accent-fg: #fff3e4;
    --primary: #fff3e4;
    --primary-fg: #342828;
    --secondary: #d3baa6;
    --secondary-fg: #342828;
  }
}
